{% extends 'mainapp/base.html' %}
{% load static %}


{% block everything_else %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Update profile</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'main:index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Update profile</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{{ auth_page_images.0.image.url }}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Update profile</h3>
                    <form class="row login_form" method="post" id="contactForm" novalidate="novalidate" enctype="multipart/form-data">
                        {% csrf_token %}
{#                        {{ update_form.as_p }}#}
                        {% for field in update_form %}
                            <div class="col-md-12 form-group">
                                {% if field.name == 'avatar' %}
                                    <h5>Avatar</h5>
                                    {{ field.as_widget }}
                                {% else %}
                                    {{ field.as_widget }}
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for field in profile_form %}
                            <div class="col-md-12 form-group">
                                {{ field.as_widget }}
                            </div>
                        {% endfor %}
{#                        {{ profile_form.as_p }}#}
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

{% endblock %}
