{% extends 'mainapp/base.html' %}
{% load static %}


{% block everything_else %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'main:index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Login</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{{ auth_page_images.0.image.url }}" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>So, what are you waiting for?<br>Click bellow and register
                        </p>
{#                        ToDo: Добавить стараницу с регистрацией #}
                        <a class="primary-btn" href="{% url 'auth:register' %}">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="col-md-12 form-group">
                                {{ field.as_widget }}
                            </div>
                        {% endfor %}
                        {% if form.errors %}
                            <div class="col-md-12 form-group">
                                <p>Your username or password didn't match. Please try again.</p>
                            </div>
                        {% endif %}
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                        </div>
                        <div class="col-md-12 form-group">
                            <button class="primary-btn">
                                <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">Sign in via VK</a>
                            </button>
                        </div>
                        <div class="col-md-12 form-group">
                            <a href="">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

{% endblock %}
