{% extends 'mainapp/base.html' %}
{% load static %}


{% block everything_else %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'main:index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{{ auth_page_images.0.image.url }}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Register new account</h3>
                    <form class="row login_form" method="post" id="contactForm" novalidate="novalidate" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in register_form %}
                            <div class="col-md-12 form-group">
                                {% if field.name == 'avatar' %}
                                    <h5>Avatar</h5>
                                {% endif %}
                                {{ field.as_widget }}
                            </div>
                        {% endfor %}
{#                        {% if register_form.errors %}#}
                        <p>
                            <br>{{ register_form.errors }}<br>
                            <br>{{ register_form.non_field_errors }}
                        </p>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Register</button>
                        </div>
                        <div class="col-md-12 form-group">
                            <button class="primary-btn">
                                <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">Sign in via VK</a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

{% endblock %}
