{% extends 'mainapp/base.html' %}
{% load static %}

    {% block everything_else %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product page</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'main:index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'main:catalog' %}">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="">Product page</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area offset-lg-1">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
{#                    ToDo Сделать тут разные изображения продукта#}
                        {% for i in '123'|make_list %}
                            <div class="single-prd-item">
                                <img class="img-fluid" src="{{ product.image.url }}" alt="">
                            </div>
                        {% endfor %}
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3><span class="product_name">{{ product.name }}</span></h3>
						<h2><span class="product_price">${{ product.price }}</span></h2>
						<ul class="list">
							<li><a class="product_category active" href="{% url "main:category_items" category_pk=product.category_id %}"><span>Category</span> : {{ product.category }}</a></li>
                            <li>
                                <a href="#"><span>Availibility</span>
                                    {% if product.quantity > 0 %}
                                        : In Stock ({{ product.quantity }})
                                    {% else %}
                                        : Out of Stock
                                    {% endif %}
                                </a>
                            </li>
						</ul>
						<p>{{ product.short_desc }}</p>
{#                        Кнопка выбора количества товара для добавления в корзину#}
{#						<div class="product_count">#}
{#							<label for="qty">Quantity:</label>#}
{#							<input type="text" name="{{ product.pk }}" id="sst" maxlength="3" value="1" title="Quantity:" class="input-text qty">#}
{#							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"#}
{#							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>#}
{#							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"#}
{#							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>#}
{#						</div>#}
						<div class="card_area d-flex align-items-center">
							<a class="primary-btn" href="{% url 'basket:add' product_pk=product.id %}">Add to Cart</a>
							<a class="icon_btn" href=""><i class="lnr lnr lnr-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

    {% endblock %}
